<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <h1 class="head">Quara posts</h1>

    <% posts.forEach((post) => {%> 
    
        <h1 class="userName"><%= post.username %></h1>
        <h1 class="post"><%= post.post %></h1>
        <a href="http://localhost:3030/posts/<%= post.id%>">
            <h4>see in detail</h4>
        </a>

   <% }) %>
    <br/>
    <br/>

    <a href="http://localhost:3030/posts/newposts">
        <h1>Create Post</h1>
    </a>

</body>
</html>